.AddButton {
  position: fixed;
  top:93%;
  right:1%;
  border-radius: 50%;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi {
  margin-left: 5%;
  margin-right: 5%;
}

.custom-cursor {
  cursor: grab;
}

.PageContent {
  margin-top: 5%;
}

.BlockFormContent {
  margin-top: 5%;
  display: grid;
  place-items: center;
}

.blockList {
  overflow: 'auto';
  max-height: '600px';
  background-color: rgb(235, 233, 233) !important;
}

.buttonsPageForm {
  position:sticky;
  text-align: right;
  margin-top: 5%;
}

.buttonsPageForm Button {
  margin-right: 5%;
}
